[submodule "Chatbot_8"]
	path = Bot_Engine
	url = https://github.com/LordofBone/Bot_Engine
[submodule "soran"]
	path = soran
	url = https://github.com/LordofBone/soran.git
[submodule "models/models"]
	path = models/models
	url = https://github.com/tensorflow/models
